.container {
    overflow: hidden;
    border-radius: 15px;
    width: 75%;
    height: 90vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.image {
    display: none;
}

img {
    width: 100%;
}

#prev {
    cursor: pointer;
    position: absolute;
    top: 43%;
    left: 0;
    z-index: 1000;
    color: white;
    padding: 20px;
    font-weight: bold;
    font-size: 2rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

#next {
    cursor: pointer;
    position: absolute;
    top: 43%;
    right: 0;
    z-index: 1000;
    color: white;
    padding: 20px;
    font-weight: bold;
    font-size: 2rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

#prev:hover, #next:hover {
    background-color: rgb(0, 0, 0, 0.5);
    transition: 0.6s;
}

.dots {
    text-align: center;
    margin-top: 1%;
}

.dot {
    width: 10px;
    height: 10px;
    margin: 0 2px;
    background-color: grey;
    display: inline-block;
    border-radius: 50%;
    transform: background-color 0.6s ease;
}   

.active {
    background-color: rgb(65, 65, 65);
}

.fade {
    animation: fade 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@media (max-width: 768px) {
    .container {
        width: 90%
    }
}

@media (max-width: 480px) {
    .container {
        width: 100%
    }
}